@model RelationsNaN.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var platform in Model.Platforms)
        {
            <form asp-action="RemovePlatform" method="post">
                <input type="hidden" name="id" value="@Model.Id"/>
                <input type="hidden" name="platformId" value="@platform.Id" />
                <input type="submit" class="btn btn-primary" value="@platform.Name">
            </form>
        }
        <form asp-action="AddPlatform" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Platforms" class="control-label"></label>
                <select name="platformId" class="form-control" asp-items="ViewBag.Platforms"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Platform" class="btn btn-primary" />
            </div>
        </form>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <v class="form-group">
                <label asp-for="Platforms" class="control-label"></label>
                <select name="test" class="form-control" asp-items="ViewBag.Platforms"></select>
                AddPlatform
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
